<ion-card>
  <ion-card-header>
    <div class="header-content">

    <img src="../../assets/gato.png">
  <div class="username">
    Nope your too late i already died
    </div>
    <div class="config">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </div>

  </div>
  </ion-card-header>

  <ion-card-content>
    <img  src="../../assets/praia.jpg" />
    <div class="legenda">
      Next day I'm walkin' the road <br>
      Kickin' rocks, it's my fault  <br>
      My life's the worst story told <br>
      I'll be this way 'til I'm old <br>
      I rip a page out the book <br>
      I'm just so misunderstood <br>
      I always think about her <br>
      And when my life felt good <br>
      I smoked a cig' on the porch <br>
      It doesn't help me at all <br>
      I wonder, "What's it all for? <br>
      Is this the girl I adored?" <br>
      And I know I can't afford <br> 
      Watchin' her walk out the door <br>
      So I keep it to myself <br>
      And keep my feet on the floor <br>

    </div>
  </ion-card-content>
</ion-card>